<h1>Formulário</h1>

<form [formGroup]="formUsuario">
  <input type="text" name="first_name" formControlName="first_name" placeholder="First name"/>
  <input type="text" name="last_name" formControlTelefone="last_name" placeholder="Last name"/>
  <input type="email" name="email" formControlTelefone="email" placeholder="Email"/>
  <input type="text" name="avatar" formControlTelefone="avatar" placeholder="URL Avatar"/>
  <button (click)="salvar()" [disabled]="!formUsuario.valid" type="submit">Salvar</button>
</form>

<br>
<table style="width: 100%">
<tr>
  <td></td>
  <td>First Name</td>
  <td>Last Name</td>
  <td>Email</td>
</tr>
<tr *ngFor="let c of usuarios">
  <td><img src="{{c.avatar}}" width="30" height="30"/></td>
  <td>{{c.first_name}}</td>
  <td>{{c.last_name}}</td>
  <td>{{c.email}}</td>
  <td><button (click)="selecionar(c)">Editar</button></td>
</tr>
</table>

<hr>

<form [formGroup]="formCEP">
  <input type="text" name="cep" formControlName="cep" placeholder="Informe o CEP"/>
  <button (click)="searchPostCode()" [disabled]="!formCEP.valid" type="submit">Pesquisar CEP</button>
</form>

<br>
<table style="width: 100%">
  <tr>
    <td>CEP</td>
    <td>Logradouro</td>
    <td>Bairro</td>
    <td>Localidade</td>
    <td>UF</td>
    <td>DDD</td>
  </tr>
  <tr>
    <td>{{postCode.cep}}</td>
    <td>{{postCode.logradouro}}</td>
    <td>{{postCode.bairro}}</td>
    <td>{{postCode.localidade}}</td>
    <td>{{postCode.uf}}</td>
    <td>{{postCode.ddd}}</td>
  </tr>
</table>
